@include media-breakpoint-up(md) {
  .navbar-dropdown-col-4 {
    min-width: 30rem;
  }
}
.navbar {
  .dropdown-item {
    font-weight: $font-weight-medium;
  }
}


@include media-breakpoint-up(xl) {
  .dropdown-menu-on-hover{
    &.dropdown {
      @include hover-focus {
        .dropdown-menu { display: block; }
      }
    }
  }
}
.dropdown-menu {
  margin: 0;
}
